@import "../../styles.scss"; 

.page-header {
    width: 80%;
    
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.page-header .page-heading {
    font-weight: 400;
    font-size: 25px;
    color: #3D3D3D;
}

.view-buttons {
    height: 36px;
    width: 88px;
    color: $primary-color;


}

.view-buttons:focus {
    cursor: pointer;
}

.grid-button {
    color: $skeleton-color;
    background-color: white;
    box-shadow: none;
    border-radius: 8px;
    width: 44px;
    height: 36px;
    border-color: $skeleton-color;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-radius: 4px 0px 0px 4px;
    padding: 8px, 12px, 8px, 12px;
}

.list-button {
    @extend .grid-button;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 4px 4px 0px;
}

.list-button:hover, .grid-button:hover {
    cursor: pointer;
}

.grid-active {
    @extend .grid-button;
    color: #628186;
    background-color: $skeleton-color;
}

.list-active {
    @extend .list-button;
    color: #628186;
    background-color: $skeleton-color;
}