@import "../../styles.scss";

.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 32px 0px 32px;

  .nav-link {
    color: $text-color;
  }

  .nav-right {
    display: flex;
    align-items: center;
    width: 433px;
    justify-content: end;
    gap: 32px;

    .nav-search {
      border: 1px solid $text-color;
      background-color: $primary-color;
      color: $text-color;
      width: 300px;
      display: flex;
      height: 40px;
      border-radius: 4px;

      .search-icon {
        width: 10%;
        height: 25px;
        margin: auto;
      }

      .search-bar {
        color: $text-color;
        border: 0px;
        width: 90%;
        height: 80%;
        margin: auto;
        font-size: medium;
        color: $text-color;
        background-color: $primary-color;
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        color: $text-color;
      }
    }

    .user-image {
      cursor: pointer;
      img {
        height: 40px;
        width: 40px;
      }
    }

    .dropdown-main {
      &::before {
        content: "";
        position: absolute;
        top: 55px;
        right: 78px;
        height: 10px;
        width: 10px;
        background: rgb(250, 250, 250);
        transform: rotate(45deg);
      }
      ul {
        list-style-type: none;
        padding: 0px;
        width: 150px;
        background-color: rgb(255, 255, 255);
        font-family: "Inter";
        font-size: 14px;
        color: #607d8b;
        display: flex;
        flex-direction: column;
        padding: 5px 9px;
        box-shadow: 0px 10px 15px 5px #0000000d;
        gap: 7px;
        position: absolute;
        right: 70px;
        top: 45px;
        border-radius: 5px;

        li:hover {
          cursor: pointer;
          color: $primary-color;
        }
      }
      .dropdown-breaks {
        color: #607d8b;
        width: 100%;
        padding: 0px;
        margin: 0px;
      }

      .signed {
        font-size: 11px;
      }
    }

    .active {
      opacity: 1;
    }
    .inactive {
      opacity: 0;
    }
  }
}
