@import "../../styles.scss";

.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 32px 0px 32px;

  .nav-link {
    color: $text-color;
  }

  .nav-right {
    display: flex;
    align-items: center;
    width: 433px;
    justify-content: end;
    gap: 32px;

    .nav-search {
      border: 1px solid $text-color;
      background-color: $primary-color;
      color: $text-color;
      width: 300px;
      display: flex;
      height: 40px;
      border-radius: 4px;

      .search-icon {
        width: 10%;
        height: 25px;
        margin: auto;
      }

      .search-bar {
        color: $text-color;
        border: 0px;
        width: 90%;
        height: 80%;
        margin: auto;
        font-size: medium;
        color: $text-color;
        background-color: $primary-color;
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        color: $text-color;
      }
    }

    .user-image {
        cursor: pointer;
        img {
            height: 40px;
            width: 40px;
        }
    }
  }
}
