@import "../../styles.scss";

.grid-main {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;

    .pagination-main {
        grid-column: 1 / span 3; 
        display: flex;
        justify-content: end;
    }
}